<h4 class="font-weight-light page-title">
    <i class="fas fa-university mr-2"></i>Bank Transactions
    <em><small></small></em>
  </h4>
  <div class="main-container">
    <div class="container">
      <div class="row mb-3">
        <div class="col-lg-3 col-xs-12"></div>
        <div class="col-lg-2 col-xs-12"></div>
        <div class="col-lg-3 col-xs-12"></div>
        <div class="col-lg-2 ol-xs-12 px-1">
          <button class="btn btn-block button-lokal my-1" (click)="loadTable()">
            <small>
              <i class="fas fa-sync mr-2"></i> REFRESH TABLE
            </small>
          </button>
        </div>
        <div class="col-lg-2 ol-xs-12 px-1">
          <div class="btn-group" dropdown placement="bottom right">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-block button-lokal my-1 dropdown-toggle"
                    aria-controls="dropdown-basic">
              <small>
                <i class="fas fa-table mr-2"></i>EXPORT DATA <span class="caret"></span>
            </small> 
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu  dropdown-menu-right"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a href="{{ rest.api_url }}/api/member/excel/export_member_transaction_list?login_token={{rest.login_token}}&log_method=Bank&member_id={{rest.member_id}}&first_name={{rest.first_name}}&last_name={{rest.last_name}}&log_method_accepted=Bank Total" class="dropdown-item">Export All Data</a>
              </li>
              <li role="menuitem">
                <a href="{{ rest.api_url }}/api/member/excel/export_member_transaction_list?login_token={{rest.login_token}}&account_name={{account_name}}&transaction_status={{transaction_status}}&transaction_date_from={{transaction_date_from}}&transaction_date_to={{transaction_date_to}}&log_method=Bank Total&log_method_accepted=Bank&data=filtered&member_id={{rest.member_id}}&first_name={{rest.first_name}}&last_name={{rest.last_name}}" class="dropdown-item">Export Filtered Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-3 col-xs-12 px-2">
          <small class="d-block font-weight-bold color-lokal">
            Transaction Status
          </small>
          <select class="form-control form-control-sm input-lokal mb-1" [(ngModel)]="transaction_status" (change)="loadTable()">
            <option value="all">All</option>
            <option value="pending">Pending</option>
            <option value="accepted">Accepted</option>
            <option value="canceled">Canceled</option>
            <option value="rejected">Rejected</option>
            <option value="processing">Processing</option>
          </select>
        </div>
        <div class="col-lg-3 col-xs-12 px-2">
          <small class="d-block font-weight-bold color-lokal">
            Transaction Date<em class="font-weight-light"> -From</em>
          </small>
          <input class="form-control form-control-sm input-lokal mb-1" type="date" [(ngModel)]="transaction_date_from" (change)="loadTable()">
        </div>
        <div class="col-lg-3 col-xs-12 px-2">
          <small class="d-block font-weight-bold color-lokal">
            Transaction Date<em class="font-weight-light"> -To</em>
          </small>
          <input class="form-control form-control-sm input-lokal mb-1" type="date" [(ngModel)]="transaction_date_to" (change)="loadTable()">
        </div>
      </div>
    </div>
  </div>
  
  <div class="table-responsive px-0" style="min-height: 300px;">
    <table class="table member-table table-hover px-2 text-dark member-db">
      <caption class="bg-light m-0 p-0 py-2 px-1" *ngIf="!table_loader">
            <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
        </caption>
      <thead>
        <tr>
          <th>#</th>
          <!-- <th>Requested By</th> -->
          <!-- <th>Exchange Rate</th> -->
          <th>Requested</th>
          <th>Received</th>
          <th>Status</th>
          <th>Date</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="table_loader">
        <tr>
          <td colspan="8">
            <div class="row" >
              <div class="col-lg-12 col-xs-12">
                <div class="load-table py-4 d-flex flex-column justify-content-center align-items-center">
                  <div class="circle"></div>
                  <small class="text">LOADING TABLE...</small>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!table_loader">
        <tr *ngIf="_table == ''">
          <td colspan="8">
            <div class="text-center">
              <small class="font-weight-light">No data found.</small>
            </div>
          </td>
        </tr>
        <tr *ngFor="let data of _table | paginate: { itemsPerPage:15, currentPage: page }">
          <td class="font-weight-bold color-lokal">{{ data.automatic_cash_in_id }}</td>
          <!-- <td>{{ data.first_name }} {{ data.last_name }}</td> -->
          <!-- <td>{{ data.exchange_rate | number:'1.2-8' }}</td> -->
          <td>
            {{ data.amount_requested }} XS
            <small class="d-block">
              <strong>
              {{ ((data.amount_requested*data.exchange_rate) - (data.amount_requested * (data.exchange_rate*(data.sale_stage_discount/100))))*rest._exchange_rate.PHP | number:'1.2-3'  }} USD
              </strong>
              ({{ (data.amount_requested*data.exchange_rate) - (data.amount_requested * (data.exchange_rate*(data.sale_stage_discount/100))) | number:'1.2-8'  }} PHP)
            </small>
          </td>
          <td *ngIf="data.log_status != 'accepted'">No data</td>
          <td *ngIf="data.log_status == 'accepted'">
            {{ data.log_amount | number:'1.2-8' }} XS
            <small class="d-block">
              <strong>
              {{ data.amount_paid*rest._exchange_rate.PHP | number:'1.2-3'  }} USD 
              </strong>
              ({{ data.amount_paid | number:'1.2-8'  }} PHP)
            </small>
          </td>
          <td>
            <span class="badge badge-secondary px-2" *ngIf="data.log_status == 'pending'">
              Pending
            </span>
            <span class="badge badge-success px-2" *ngIf="data.log_status == 'accepted'">
              Accepted
            </span>
            <span class="badge badge-danger px-2" *ngIf="data.log_status == 'canceled'">
              Canceled
            </span>
            <span class="badge badge-info px-2" *ngIf="data.log_status == 'processing'">
              Processing
            </span>
            <span class="badge badge-danger px-2" *ngIf="data.log_status == 'rejected'">
              Rejected
            </span>
          </td>
          <td>
            <!-- {{ data.log_time | date:'MM/dd/yyyy'}} -->
            {{ rest.formatDate(data.log_time) }}
          </td>
          <td>
            <!-- {{ data.log_time | date:'HH:mm a '}} -->
            {{ rest.formatTime(data.log_time) }}
          </td>
          <td class="text-center">
            
              <div class="btn-group" dropdown placement="bottom right">
              <button id="button-alignment" dropdownToggle type="button"
                      class="btn btn-outline-dark btn-sm dropdown-toggle" aria-controls="dropdown-alignment">
                <small>
                    <i class="fas fa-cog mr-2"></i>ACTIONS <span class="caret"></span>
                  </small> 
              </button>
              <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-alignment">
                <li role="menuitem">
                  <a href="javascript:void" class="dropdown-item" (click)="viewTransactionDetails(data.automatic_cash_in_id, view_transaction_details,0,wallet_deposit)">Transaction Details</a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void" class="dropdown-item" *ngIf="data.log_status == 'pending'" (click)="openUpdatePayment(update_payment_modal, data.member_log_id)">Update Payment</a>
                </li>
                <li role="menuitem">
                  <a href="javascript:void" class="dropdown-item" *ngIf="data.log_status == 'pending'" (click)="cancelTransaction(data.member_log_id)">Cancel Transaction</a>
                </li>
                <!--
                <li role="menuitem">
                  <a href="javascript:void" class="dropdown-item" *ngIf="data.log_status == 'pending'" (click)="viewTransactionDetails(data.automatic_cash_in_id, view_transaction_details,1,wallet_deposit)">View Deposit Address</a>
                </li> -->
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #view_transaction_details let-c="close" let-d="dismiss">
    <div class="view_account_details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transaction Details</h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left  color-lokal-x">
        <div class=" p-3 row ">
          <div class=" col-lg-6 col-xs-12">
            <!-- <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.first_name }} {{ data_focus.last_name }}</h4>
            <small class="font-weight-bold mb-5">Requested By</small>   -->
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.amount_requested }} XS</h4>
            <small class="font-weight-bold mb-5">Requested Token</small>  
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.log_status == 'accepted' ? data_focus.log_amount + " AHM" : 'No data' }}</h4>
            <small class="font-weight-bold mb-5">Received Token</small>  
            <h4 class="mb-0 font-weight-light mt-2">
              <strong>
                {{ ((data_focus.amount_requested*data_focus.exchange_rate) - (data_focus.amount_requested * (data_focus.exchange_rate*(data_focus.sale_stage_discount/100))))* rest._exchange_rate.PHP | number:'1.2-3'  }} USD
              </strong>
              ({{ (data_focus.amount_requested*data_focus.exchange_rate) - (data_focus.amount_requested * (data_focus.exchange_rate*(data_focus.sale_stage_discount/100))) | number:'1.2-8'  }} PHP)
            </h4>
            <small class="font-weight-bold mb-5">Expected Payment</small>   
            <h4 class="mb-0 font-weight-light mt-2">
              <span *ngIf="data_focus.log_status == 'accepted'">
                <strong>{{data_focus.amount_paid * rest._exchange_rate.PHP | number:'1.2-3'}} USD</strong>
                ({{data_focus.amount_paid | number:'1.2-8'}} PHP)
              </span>
              <span *ngIf="data_focus.log_status != 'accepted'">
                No data
              </span>
            </h4>
            <small class="font-weight-bold mb-5">Amount Paid</small>
          </div>
          <div class="col-lg-6 col-xs-12">
            <h4 class="mb-0 font-weight-light mt-2">PHP {{ data_focus.exchange_rate | number:'1.2-8' }} per token</h4>
            <small class="font-weight-bold mb-5">Exchange Rate</small>  
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.cash_in_method_name }}</h4>
            <small class="font-weight-bold mb-5">Bank Name</small>
            <h4 class="mb-0 font-weight-light mt-2"><a *ngIf="data_focus.cash_in_proof_img" href="{{ data_focus.cash_in_proof_img }}" target="_blank" class="nav-link m-0 p-0"><i class="fas fa-link mr-2"></i>View Image</a> <span *ngIf="!data_focus.cash_in_proof_img">No data.</span></h4>
            <small class="font-weight-bold mb-5">Deposit Slip</small>
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.cash_in_proof_tx ? data_focus.cash_in_proof_tx : 'No data.' }}</h4>
            <small class="font-weight-bold mb-5">Transaction Number</small>  
            <h4 class="mb-0 font-weight-light mt-2">
              <span class="badge badge-secondary px-2" *ngIf="data_focus.log_status == 'pending'">
                Pending
              </span>
              <span class="badge badge-success px-2" *ngIf="data_focus.log_status == 'accepted'">
                Accepted
              </span>
              <span class="badge badge-danger px-2" *ngIf="data_focus.log_status == 'canceled'">
                Canceled
              </span>
              <span class="badge badge-danger px-2" *ngIf="data_focus.log_status == 'rejected'">
                Rejected
              </span>
              <span class="badge badge-info px-2" *ngIf="data_focus.log_status == 'processing'">
                Processing
              </span>
            </h4>
            <small class="font-weight-bold mb-5">Transaction Status</small>  
            <h4 class="mb-0 font-weight-light mt-2">
              <!-- {{ data_focus.log_time | date:'MM/dd/yyyy hh:mm a' }} -->
              {{ rest.formatDate(data_focus.log_time) }} {{ rest.formatTime(data_focus.log_time) }}
            </h4>
            <small class="font-weight-bold mb-5">Date Requested</small>
          </div>
        </div>
  
      </div>
    </div>
  </ng-template>
  
  <ng-template #update_payment_modal let-c="close" let-d="dismiss">
    <div class="view_account_details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Payment</h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left  color-lokal-x">
        <div class=" p-3 row ">
          <div class=" col-lg-12 col-xs-12 text-center">
            <div class="alert alert-danger p-2 text-center" *ngIf="error_message != 'no-message'">
              <small>{{ error_message }}</small>
            </div>
            <h5 class="mb-1">Transaction Number (Optional)</h5>
            <input type="text" class="form-control mb-3 text-center" placeholder="Enter your deposit transaction number" [(ngModel)]="tx_number">

            <h5 class="mb-1">Deposit Slip</h5>
            <small class="alert alert-warning alert-lokalize my-2 d-block" *ngIf="cash_in_proof">
              <b class="text-dark">1 Attachment</b>
              <a href="{{ cash_in_proof }}" target="_blank" class="p-1 ml-2 mr-1">
                <i class="fas fa-eye"></i>  
              </a> 
              <a href="javascript:void" class="p-1" (click)="cash_in_proof = null; form_data = null">
                <i class="fas fa-times"></i>  
              </a> 
            </small>
            <small class="d-block my-2" *ngIf="image_uploading">
              <i class="fas fa-spinner button-loader mr-2"></i> Uploading...
            </small>
            <button class="btn btn-dark btn-block mb-3" disabled="{{updating ? 'disabled' : ''}}" (click)="openUploadProof()" *ngIf="!image_uploading">
              <small>
                Upload Proof <i class="fas fa-cloud-upload-alt ml-2"></i>
              </small>
            </button>
            <input type="file" style="display: none;" id="payment_proof" (change)="onFileChange($event)">
            <hr class="my-2">
            <button class="btn btn-dark btn-lg btn-block" disabled="{{updating ? 'disabled' : ''}}" (click)="updatePayment()" *ngIf="cash_in_proof">
              <small *ngIf="updating">
                <i class="fas fa-spinner button-loader"></i>
              </small>
              <small *ngIf="!updating">
                <i class="fas fa-save ml-2"></i> Update Payment
              </small>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  