@import '../../../assets/scss/app';
@import "../../../assets/ahm_assets/scss/custom";

.login-page 
{
	height: 100vh;
	background-color: $base-color;
	color: white;
	background-image: url('../../../assets/ahm_assets/img/back_light2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	.text-link-2
	{
		color: white !important;
	}

	.lokal-forms 
	{
		border-top: 5px solid $secondary-color;
		border-bottom: 5px solid $secondary-color;
	}

	.spay-login-button
	{
		border: 1px solid $secondary-color !important;
		background: $secondary-color !important;
		color: #fff !important;
		transition: 500ms;
	}

	.spay-register-button
	{
		border: 1px solid $secondary-color !important;
		background: #fff !important;
		color: $secondary-color !important;
		transition: 500ms;
	}
}

/* Media Query */

@media screen and (max-width: $tablet)
{
	
}

@media screen and (max-width: $mobile-l)
{
	.login-page 
	{
		height: auto;

		.logo-holder 
		{
			display: none !important;
		}
		.mob-label 
		{
			display: block !important;
			padding-top: 40px;
			line-height: 0.75rem;
			font-size: 1.5rem;
		}
		.lokal-forms 
		{
			width: 100%;

			input, button 
			{
				width: 100% !important;
			}
		}
	}
}

@media screen and (max-width: $mobile-m)
{
	.mob-label
	{
		padding-top: 10px !important;
	}
}

@media screen and (max-width: $mobile-m)
{
	
}

@media screen and (max-width: $mobile-s)
{

}

