@import '../../../assets/scss/app';

*
{
    font-family: $ff;
}

.purchaser {
    @include gradient($primary-c, $secondary-c);

    background-image: url("/assets/img/loginregister-bg.png");
    background-size: cover;
    background-position: center;
    // background-attachement: fixed;
    min-height: 100vh;
    // padding-top: 4rem;
    padding: 100px 0;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .f-14
    {
        font-size: 14px !important;
    }

    .image-file-holder
    {
        width: 250px;
        height: 250px;
        border: 3px dashed #eee;
        overflow: hidden;
        position: relative;

        input
        {
            position: absolute;
            font-size: 14px;
            opacity: 0;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    .file-holder
    {
        width: 500px;
        height: 35px;
        border: 3px dashed #eee;
        overflow: hidden;
        position: relative;

        input
        {
            position: absolute;
            font-size: 14px;
            opacity: 0;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}

//LOGIN