<section class="page-section login-page">
	<div class="container">
		<div class="login-form-holder d-flex flex-column align-items-center justify-content-center">
			<div class="logo-holder">
				<img src="/assets/img/lokal-logo.png">
			</div>
			<div *ngIf="valid" class="w-35 py-3">
				<div class="row mb-2" *ngIf="error_message != 'no-message'">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center alert alert-danger">
							<span>{{ error_message }}</span>
						</div>
					</div>
				</div>
				<div class="row mb-2" *ngIf="success_message != 'no-message'">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center alert alert-success">
							<span>{{ success_message }} <a href="/">Go back to login page</a></span>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="submitted">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center validating">
							<div class="circle mr-2"></div><span>Verifying</span>
						</div>
					</div>
				</div>
					<input class="custom-textfield w-100 my-2 p-2" [(ngModel)]="new_password" type="password" placeholder="New Password">
					<input class="custom-textfield w-100 my-2 p-2" [(ngModel)]="confirm_password" type="password" placeholder="Confirm Password">
					<input class="custom-textfield w-100 my-2 p-2" [(ngModel)]="verification_code" type="text" placeholder="Verification Code">
					<button class="btn-lokal-sm w-100 mt-3" (click)="onSubmit()">Submit</button>
			</div>
				<br>
				<div class="row mb-2" *ngIf="error_message_link != 'no-message'">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center alert alert-danger">
							<span>{{ error_message_link }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>