<section class="advisor">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="d-flex align-items-center">
							<h3 class="text-white py2">Advisor Program:</h3>
						</div>
					</div>
					<div class="col-md-6">
						<div class="to-right mb-3">
							<a role="button" href="/register?career=advisor" class="cbtn-norm btn-lokal f-14 w-75 btn-apply-now">APPLY NOW</a>
						</div>
					</div>
				</div>
				<h4 class="text-white py-2">Qualification and Skills:</h4>
				<ul>
					<li>Experience in launching an Initial Coin Offering (ICO) or Token Generation Events (TGE) is an advantage.</li>
					<li>A strong background in legal, financial, investment regulations and compliance. </li>
					<li>A strong knowledge of blockchain, cryptocurrency and fintech ecosystems.</li>
					<li>Excellent written and verbal communication abilities.</li>
					<li>Passionate about cryptocurrencies and the role they play in the future of financial markets.</li>
					<li>High level experience in investment-based sales and relationship management </li>
					<li>Ability to communicate investment strategies in a clear and concise manner so investor/purchaser can make informed decisions</li>
					<li>High level experience in investment-based sales and relationship management</li>
					<li>Existing network and contact list of potential crypto investor/purchaser. </li>
				</ul>
				
				<h4 class="text-white py-2">Job Description</h4>
				<ul>
					<li>The Advisor is responsible in guiding the team in his field of expertise making ICO/TGE is done properly.</li>
					<li>The Advisor is responsible in promotion during its Sales Stages in Private Sale, Pre Sale, Public Sale and Post Sale.</li>
					<li>The Advisor is responsible in introducing to other known Expert Advisor and Lawyers.  </li>
					<li>The Advisor will engage their community across several social media and online channels like Telegram, LinkedIn, and more.</li>
					<li>The Advisor will promote an Airdrop / Bounty hunter’s program or the replicated link that is given.</li>
					<li>The Advisor will support the marketing team where needed - just like in Telegram and LinkedIn and communicating other foreign investors or traders.</li>
				</ul>
				<h4 class="text-white py-2">Rewards</h4>
				<ul>
					<li>
						When you accepted/promoted as Advisor, you’ll get;
						<ul>
							<li>*100,000 possible Lokal Tokens</li>
							<li>Automatic Sign Up Bonus of 50% of the 100,000 Lokal Tokens</li>
							<li>Another 50%, if you encourage 250 people to signed up in your affiliate link.</li>
						</ul>
					</li>
					<li>If one of your affiliate buys our Lokal Token, you will receive 6.0 % token commission on the amount of token your affiliate purchased.</li>
					<li>If one of your affiliate buys our Lokal Token, you will receive 8.5% token commission on the amount of token your affiliate purchased given that you bought your own token.</li>
					<li>If one of your affiliate buys our Lokal Token, the Advisor will <span class="total">receive 7.5% BTC/ETH</span> commission of what they paid either by bitcoin or ethereum of that affiliate.</li>
				</ul>
				<h4 class="text-white py-2">To Become Board of Directors/Stakeholder (Optional)</h4>
				<ul>
					<li>Invest $20,000 worth of Crypto such as Bitcoin and Ethereum and own 5% stake of the Lokalize Foundation Company.</li>
					<li>All the *perks of being a seed investor coming from Revenue Streams.</li>
				</ul>
			</div>
			<div class="content-text text-center pt-4"><a href="/" class="text-link-2">« Back to Homepage</a></div>
		</div>
	</div>
</section>