<div class="content">
	<!-- Section 1 -->
	<section id="splash" class="s-1">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-6">
					<div class="inner-left">
						<h1>Success<span>Pay</span> Blockchain</h1>
						<h2>Giving Cryptocurrencies Life</h2>
						<div class="h-line"></div>
						<div class="mob-right d-none">
							<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/splash_1-2.svg" alt="">
						</div>
						<p>
							Power online stores with industry leading Blockchain technologies! SuccessPay's flexible and efficient architecture allows any cryptocoin to integrate flawlessly to online stores.
						</p>
						<a href="" role="button" class="btn-desk btn-primary btn-rounded btn-lg">
							White Paper
						</a>
						<a href="" role="button" class="btn-desk btn-primary btn-rounded btn-lg ml-3">
							Get Coin Now!
						</a>
						<div class="btn-mob d-none btn-container">
							<div class="flex-child">
								<a href="" role="button" class="btn-primary btn-rounded btn-lg">
									White Paper
								</a>
							</div>
							<div class="flex-child">
								<a href="" role="button" class="btn-primary btn-rounded btn-lg">
									Get Coin Now!
								</a>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="inner-right">
						<img class="splash_2 rotate" src="../../../assets/spay_assets/img/splash_2.png" alt="">
						<img class="splash_3 rotate-2" src="../../../assets/spay_assets/img/splash_3.png" alt="">
						<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/splash_1-3.png" alt="">
						<img class="splash_4" src="../../../assets/spay_assets/img/splash_4.png" alt="">
						<img class="splash_5" src="../../../assets/spay_assets/img/splash_5.png" alt="">
						<img class="splash_6 zoom" src="../../../assets/spay_assets/img/blink.svg" alt="">
						<div class="tri-1 dash-1"></div>
						<div class="tri-2 dash-2"></div>
						<div class="tri-3 dash-3"></div>
						<div class="tri-4 dash-4"></div>
						<div class="round dash-5"></div>
						<div class="tri-6 dash-1"></div>
						<div class="tri-7 dash-2"></div>
						<div class="tri-8 dash-3"></div>
						<div class="tri-9 dash-4"></div>
						<div class="round-2 dash-5"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section 2 -->
	<section id="benefits" class="page-section s-2">
		<div class="container">
			<div class="inner-holder">
				<h2>Competitive Benefits of Our Blockchain</h2>
				<p>
					SuccessPay's Blockchain has been developed with 3rd Party developers in mind. That's why we've designed the system to be as efficient and as flexible as possible.
				</p>
				<div class="row clearfix">
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/shield.svg" alt="">
							<div class="img-label">Safe & Secure</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/token.png" alt="">
							<div class="img-label">Accept 3rd Party Coins</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/payment.png" alt="">
							<div class="img-label">Native Payment</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/case.png" alt="">
							<div class="img-label">Seamless Exchanges</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/app.png" alt="">
							<div class="img-label">Smart Application</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="col-item">
							<img src="../../../assets/spay_assets/img/dilution.png" alt="">
							<div class="img-label">No Dilution</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section 3 -->
	<section id="about" class="page-section s-3">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-6">
					<div class="inner-left">
						<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/about_iso.png" alt="">
					</div>	
				</div>
				<div class="col-md-6">
					<div class="inner-right">
						<h2>About SuccessPay</h2>
						<div class="h-line"></div>
						<div class="mob-left d-none">
							<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/about_iso.svg" alt="">
						</div>
						<p>
							Success Pay Blockchain is a scalable and decentralized platform that will enable efficient, secure and cost-effective e-commerce transactions and allows various cryptocurrencies to be accepted in Success Mall marketplace (www.successmall.ph). Different cryptocurrencies will now have a place where they can be used to purchase products and services and make them part of people's daily lives.<br><br>

							Essentially, cryptocurrencies are limited entries in a database that no one can change unless specific conditions are fulfilled. 
						</p>
						<a href="" role="button" class="btn-primary btn-rounded btn-lg">
							Let's Start
							<i class="far fa-play-circle"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section 4 -->
	<section id="how_it_works" class="page-section s-4">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-6">
					<div class="inner-left">
						<h2>How It Works</h2>
						<div class="h-line"></div>
						<div class="mob-left d-none">
							<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/how_it_works_iso.svg" alt="">
						</div>
						<p>
							SuccessPay's Blockchain network uses 3.0 starndards, with native support for cross-chain and side-chain implementations. Combine that with efficient RESTFUL Netwok APIs, you can seamlessly connect any Blockchain and online stores alike into a secure and trust-less Blockchain.
						</p>
						<a href="" role="button" class="btn-primary btn-rounded btn-lg">
							Download App
							<i class="far fa-arrow-alt-circle-down"></i>
						</a>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="inner-right">
						<img class="splash_1 object_1 floating" src="../../../assets/spay_assets/img/how_it_works_iso.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
