@import "../../../assets/ahm_assets/scss/custom";


body
{
	@include text-style($body-text, $reg, 0.875rem, 0.01rem, 1.6875rem);
}

.video-resize {
    @media screen and (max-width: 991px) {
        width: 100%;
        height: 300px;
    }
}


//Page
.content
{

	.s-1
	{
		@include flex();

		height: 100vh;
		background-color: $base-color;
		color: white;
		background-image: url('../../../assets/ahm_assets/img/home_bg_v2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.caption-container
		{
			width: 80%;
			.logo-holder
			{
				width: 85%;
				img
				{
					width: 100%;
				}
			}
			.c1
			{
				font-size: 28px;
				color: $secondary-color;
				margin-bottom: 15px;
			}
			.line
			{
				display: block;
				border: 1px solid $secondary-color;
				width: 10%;
			}
			.mob-coin
			{
				display: none;
			}
			.c2
			{
				margin-top: 15px;
				p
				{
					color: $dark-white !important;
					font-size: 14px !important;
					margin-bottom: 0px;
					letter-spacing: 1px;
				}
			}
			.btn-container
			{
				margin-top: 20px;
				a
				{
					margin-right: 20px;
					font-size: 15px;
				}
			}
		}
		.coin-holder
		{
			display: block;
			position: relative;
			.coin-left
			{
				@extend .floating-coin-left;
				position: absolute;
				top: 50px;
				left: 10px;
			}
			.coin-right
			{
				@extend .floating-coin-right;
				position: absolute;
				top: 50px;
				right: 10px;
			}
			.coin-middle
			{
				@extend .floating-coin-middle;
				position: absolute;
				right: 110px;
			}
		}

	}

	.s-2
	{
		background-color: $base-color;

		.inner-holder
		{
			padding: 100px 0px;
			.img-holder
			{
				img
				{
					@extend .floating;
				}
			}
			.info-container
			{
				padding-top: 30px;
				.title
				{
					font-size: 30px;
					color: $secondary-color-dark;
				}
				.line
				{
					border: 1px solid $secondary-color;
					width: 12%;
					margin: 20px 0px;
				}
				.desc
				{
					p
					{
						color: #585858 !important;
						font-size: 14px !important;
						margin-bottom: 0px;
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}

	.s-3
	{
		padding: 130px 0px;
		background-image: url('../../../assets/ahm_assets/img/s3-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.inner-left
		{
			color: $base-color;
			letter-spacing: 0.5px;
			.title-1
			{
				font-size: 22px;
			}
			.title-2
			{
				font-size: 26px;
				font-weight: $bold;
			}
			.title-3
			{
				font-size: 20px;
			}
			.desc
			{
				margin-top: 20px;
				p
				{
					font-size: 14px;
					color: $dark-white;
					letter-spacing: 1px;
				}
			}
			.btn-container
			{
				a
				{
					background-color: $tertiary-color;
					font-size: 15px;
					margin-right: 20px;
				}
				.btn-outline
				{
					background-color: transparent;
					border: 2px solid $tertiary-color;
				}
			}
		}

		.inner-right
		{
			padding-top: 50px;
		}
	}

	.s-4
	{
		padding: 100px 0px;
		.heading
		{
			text-align: center;
			.title
			{
				font-size: 30px;
				color: $secondary-color-dark;
				margin-bottom: 30px;
			}
			.line
			{
				border-bottom: 1px solid $secondary-color;
				width: 5%;
				margin: auto;
			}
			.coin-market
			{
				margin-top: 30px !important;
			}
		}
	}

	.s-5
	{
		background-color: $base-color-dark;
		padding: 100px 0px;
		.heading
		{
			text-align: center;
			.title
			{
				font-size: 30px;
				color: $secondary-color-dark;
				margin-bottom: 30px;
			}
			.line
			{
				border-bottom: 1px solid $secondary-color;
				width: 5%;
				margin: auto;
			}
			.desc
			{
				margin: auto;
				width: 60%;
				text-align: center;
				letter-spacing: 1px;
				padding: 30px 0px;
				font-size: 14px;
				color: #585858;
			}
		}
		.swiper-ico-news
		{
            overflow: hidden;

		    .swiper-wrapper
		    {
		    	.swiper-slide
		    	{
		    	  font-size: 18px;
		    	  background: #fff;
		    	  .news-container
		    	  {
		    	  	.img-holder
		    	  	{
		    	  		width: 100%;
		    	  		img
		    	  		{
		    	  			width: 100%;
		    	  		}
		    	  	}
		    	  	.info-container
		    	  	{
		    	  		padding: 20px 20px 60px 20px;
		    	  		background-color: $base-color;
		    	  		.nws-title
		    	  		{
		    	  			font-weight: $bold;
		    	  			font-size: 18px;
		    	  			color: $secondary-color-dark;
		    	  			letter-spacing: 0.5px;
		    	  			min-height: 55px;
		    	  		}
		    	  		.nws-desc
		    	  		{
		    	  			p
		    	  			{
		    	  				font-size: 14px;
		    	  				color: #585858;
		    	  				letter-spacing: 1px;
		    	  			}
		    	  		}
		    	  		a
		    	  		{
		    	  			text-decoration: none;
		    	  			color: $secondary-color;
		    	  			font-size: 16px;
		    	  			font-weight: $bold;
		    	  		}
		    	  	}
		    	  }
		    	}
		    }
	    }
	}
	.s-6
	{
		padding: 100px 0px !important;
		background-image: url('../../../assets/ahm_assets/img/s6-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.heading
		{
			text-align: center;
			.title
			{
				font-size: 30px;
				color: $base-color;
				margin-bottom: 30px;
			}
			.line
			{
				border-bottom: 1px solid $secondary-color;
				width: 5%;
				margin: auto;
			}
		}
		.info-container
		{
			padding-top: 25px;
			text-align: center;
			input
			{
				background: transparent;
				font-size: 15px;
				color: rgba($base-color, 0.8);
				border: 0;
				outline: 0;
				border-bottom: 2px solid $base-color;
				width: 55%;
				padding: 10px 5px;
				margin-top: 25px;
			}
			textarea
			{
				background: transparent;
				font-size: 15px;
				color: rgba($base-color, 0.8);
				border: 0;
				outline: 0;
				border-bottom: 2px solid $base-color;
				width: 55%;
				padding: 10px 5px;
				margin-top: 25px;
				min-height: 200px;
				max-height: 200px;
			}
		}
		.btn-container
		{
			text-align: center;
			padding-top: 30px;
			a
			{
				font-size: 15px;
				width: 55%;
				padding: 12px 0px;
			}
		}
		.social-container
		{
			text-align: center;
			margin-top: 80px;
			span
			{
				vertical-align: middle;
				margin-right: 20px;
			}
		}
	}
}


/* Media Query */

@media screen and (max-width: $tablet)
{

	.content
	{
		.s-1
		{
			.caption-container
			{
				width: 100%;
				text-align: center;
				.logo-holder
				{
					width: 85%;
					margin: auto;
					padding-left: 10px;
				}
				.line
				{
					margin: auto;
				}
			}

			.btn-container
			{
				a
				{
					margin-right: 10px !important;
				}
			}

			.coin-holder
			{
				.coin-left
				{
					width: 41%;
					top: 80px;
					left: 0px;
					img
					{
						width: 100%;
					}
				}
				.coin-right
				{
					width: 41%;
					top: 80px;
					right: 0px;
					img
					{
						width: 100%;
					}
				}

				.coin-middle
				{
					width: 53%;
					right: 80px;
					top: 55px;
					img
					{
						width: 100%;
					}
				}
			}
		}
		.s-2
		{
			.inner-holder
			{
				.img-holder
				{
					margin-top: 75px;
				}
				.info-container
				{
					.title
					{
						font-size: 25px;
					}
					.desc
					{
						p
						{
							
							font-size: 12px;
						}
					}
				}
			}
		}
		.s-3
		{
			.inner-right
			{
				margin-top: 120px;
			}

			.inner-left
			{
				.title-1
				{
					font-size: 20px;
				}
				.title-2
				{
					font-size: 24px;
				}
				.title-3
				{
					font-size: 18px;
				}
				.desc
				{
					p
					{
						font-size: 12px;
						margin-bottom: 0px;
					}
				}
				.btn-container
				{
					a
					{
						font-size: 13px;
						margin-right: 8px;
					}
				}
			}
		}
	}
}