<div class="content">
	<!-- Section 1 -->
	<section id="splash" class="s-1">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-6">
					<div class="caption-container">
						<img src="../../../assets/ahm_assets/img/logo-home.png" alt="">
						<div class="c1">
							Your Ideal Money for Today's Digital World
						</div>
						<div class="line"></div>
						<div class="c2">
							<p>Blockchain Technology, E-Games, ICO Advisory and capital solutions for the tokenized future.</p>
						</div>
						<div class="btn-container">
							<a class="btn-primary btn-rounded btn-md btn-desktop" href="#">White Paper</a>
							<a class="btn-primary btn-rounded btn-md btn-desktop" href="#">Get Token Now!</a>
						</div>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</section>
	<!-- Section 2 -->
	<section id="benefits" class="page-section s-2">
		<div class="container">
			<div class="inner-holder">
				<div class="row clearfix">
					<div class="col-md-6">
						<img class="img-fluid" src="../../../assets/ahm_assets/img/s2-image.svg" alt="">
					</div>
					<div class="col-md-6">
						<div class="info-container">
							<div class="title">AHM Token ICO Platform</div>
							<div class="line"></div>
							<div class="desc">
								<p>
									AHM Token is owned and handled by Mr. Anthony Lou Sagario SM, FA, PhD. AHM Token is an utility token that you use to purchase products or services for AHM E-Commerce and game chips for you to be able to play in AHM E-Games, which is an online/casino games. 
									<br><br>
									To get your AHM Token, you can pay through bank deposits (PHP and USD), Bitcoin and Ethereum. GET YOURS NOW!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section 3 -->
	<section id="about" class="page-section s-3">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-6">
					<div class="inner-left">
						<div class="title-1">AHM E-Games</div>
						<div class="title-2">The hottest casino game app is here! </div>
						<div class="title-3">Host anytime & anywhere to enjoy casino fun! Get your special benefits and win jackpot prizes!</div>
						<div class="desc">
							<p>
								AHM E-Games is an online game where anyone can play and can win jackpot prizes. We have two subscriptions here, we have the paid and free.<br><br>

								In the paid subscription, you should pay $14 and you'll receive 10,000 chips within 72 hours you to play the games and win prizes. <br><br>

								 In free subscription, you should scan the QR code for you to able to download the game. But in free subscription, AHM E-Games recommends you to buy chips in order for you to play these games. You can pay through bank (USD & PHP), Credit Card or AHM Token. <br><br>
							</p>
						</div>
						<div class="btn-container">
							<a class="btn-primary btn-rounded btn-md btn-desktop" href="#">VIP Starter Pack</a>
							<a class="btn-primary btn-rounded btn-md btn-desktop btn-outline" href="#">Free Download</a>
						</div>
					</div>	
				</div>
				<div class="col-md-6">
					<div class="inner-right">
						<img class="img-fluid" src="../../../assets/ahm_assets/img/s3-img.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section 4 -->
	<section id="how_it_works" class="page-section s-4">
		<div class="container">
			<div class="heading">
				<div class="title">Coin Market Cap</div>
				<div class="line"></div>
				<div class="coin-market">
					<img class="img-fluid" src="../../../assets/ahm_assets/img/s4-img.jpg" alt="">
				</div>
			</div>
		</div>
	</section>

	<section id="ico_news" class="page-section s-5">
		<div class="container">
			<div class="heading">
				<div class="title">ICO News</div>
				<div class="line"></div>
				<div class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </div>
			</div>
			<div class="swiper-ico-news">
			    <div class="swiper-wrapper">
				    <div class="swiper-slide">
						<div class="news-container">
							<div class="img-holder">
								<img src="../../../assets/ahm_assets/img/news-img-1.jpg" alt="">
							</div>
							<div class="info-container">
								<div class="nws-title">Latest News Post Lorem Ipsum Dolor Sit</div>
								<div class="nws-desc">
									<p>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
									</p>
								</div>
								<a href="#">Read More &raquo;</a>
							</div>
						</div>
				    </div>
			        <div class="swiper-slide">
			    		<div class="news-container">
			    			<div class="img-holder">
			    				<img src="../../../assets/ahm_assets/img/news-img-1.jpg" alt="">
			    			</div>
			    			<div class="info-container">
			    				<div class="nws-title">Latest News Post Lorem Ipsum Dolor Sit</div>
			    				<div class="nws-desc">
			    					<p>
			    						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
			    					</p>
			    				</div>
			    				<a href="#">Read More &raquo;</a>
			    			</div>
			    		</div>
			        </div>
		            <div class="swiper-slide">
		        		<div class="news-container">
		        			<div class="img-holder">
		        				<img src="../../../assets/ahm_assets/img/news-img-1.jpg" alt="">
		        			</div>
		        			<div class="info-container">
		        				<div class="nws-title">Latest News Post Lorem Ipsum Dolor Sit</div>
		        				<div class="nws-desc">
		        					<p>
		        						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
		        					</p>
		        				</div>
		        				<a href="#">Read More &raquo;</a>
		        			</div>
		        		</div>
		            </div>
	                <div class="swiper-slide">
	            		<div class="news-container">
	            			<div class="img-holder">
	            				<img src="../../../assets/ahm_assets/img/news-img-1.jpg" alt="">
	            			</div>
	            			<div class="info-container">
	            				<div class="nws-title">Latest News Post Lorem Ipsum Dolor Sit</div>
	            				<div class="nws-desc">
	            					<p>
	            						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
	            					</p>
	            				</div>
	            				<a href="#">Read More &raquo;</a>
	            			</div>
	            		</div>
	                </div>
			    </div>
			    <!-- Add Pagination -->
			    <div class="swiper-pagination"></div>
			    <!-- Add Arrows -->
			  </div>
			<!-- <div class="row clearfix">
				<div class="col-md-4">
					<div class="news-container">
						<div class="img-holder">
							<img src="../../../assets/ahm_assets/img/news-img-1.jpg" alt="">
						</div>
						<div class="info-container">
							<div class="nws-title">Latest News Post Lorem Ipsum Dolor Sit</div>
							<div class="nws-desc">
								<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
								</p>
							</div>
							<a href="#">Read More &raquo;</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news-container">
						<div class="img-holder">
							<img src="../../../assets/ahm_assets/img/news-img-2.jpg" alt="">
						</div>
						<div class="info-container">
							<div class="nws-title">Latest News Post</div>
							<div class="nws-desc">
								<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
								</p>
							</div>
							<a href="#">Read More &raquo;</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news-container">
						<div class="img-holder">
							<img src="../../../assets/ahm_assets/img/news-img-3.jpg" alt="">
						</div>
						<div class="info-container">
							<div class="nws-title">Latest News Post</div>
							<div class="nws-desc">
								<p>
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
								</p>
							</div>
							<a href="#">Read More &raquo;</a>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</section>

	<div class="modal fade" id="summary" tabindex="-1" role="dialog" aria-labelledby="summaryTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
			<iframe class="video-resize" width="800" height="450" src="https://www.youtube.com/embed/ZE2HxTmxfrI?rel=0" frameborder="0" allow="encrypted-media"
			 allowfullscreen></iframe>
	    </div>
	  </div>
	</div>
</div>
