<h4 class="font-weight-light page-title-admin">
	<i class="fas fa-briefcase mr-2"></i>Business Application
	<em><small></small></em>
</h4>
<div class="row mb-3">
	<div class="col-lg-3 col-xs-12">
		<div class="alert alert-light p-2">
			<div class="d-flex flex-row justify-content-center align-items-center h6 mb-0 text-center">
				<small class="mx-2">
					<h4 class="text-center mb-0">{{business_application_count}}</h4>
					Total Business Application
				</small>
				<i class="fas fa-briefcase mx-2 h1 mb-0"></i>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-xs-12">
		
	</div>

	<div class="col-lg-2 col-xs-12">
		<!-- spacer -->
	</div>

	<div class="col-lg-2 col-xs-12 px-1">
		
	</div>
	<div class="col-lg-2 col-xs-12 px-1">
		<button (click)="getBusinessApplicationList()" class="btn button-lokal-x btn-block my-1">
			<small>
				<i class="fas fa-sync mr-2"></i>REFRESH TABLE
			</small>
		</button>
	</div>
</div>
<div class="row ml-1 mb-3">
	<div class="col-lg-3 col-xs-12 px-2">
		<small class="d-block font-weight-bold">
			Name
		</small>
		<input type="text" (keyup)="getBusinessApplicationList()" [(ngModel)]="search_name" class="form-control form-control-sm input-lokal-x mb-1" placeholder="Search by Name">
	</div>
	<div class="col-lg-3 col-xs-12 px-2">
		<small class="d-block font-weight-bold">
			Application Date - <em class="font-weight-light">From</em>
		</small>
		<input type="date" (change)="getBusinessApplicationList()" [(ngModel)]="date_from" class="form-control form-control-sm input-lokal-x mb-1">
	</div>
	<div class="col-lg-3 col-xs-12 px-2">
		<small class="d-block font-weight-bold">
			Application Date - <em class="font-weight-light">To</em>
		</small>
		<input type="date" (change)="getBusinessApplicationList()" [(ngModel)]="date_to" class="form-control form-control-sm input-lokal-x mb-1">
	</div>
</div>
<div class="table-responsive px-0"  style="min-height: 300px;">
	<table class="table member-table-x admin-db table-hover px-2">
		<caption class="bg-light m-0 p-0 py-2 px-1" *ngIf="!table_loader">
			<pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
		</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Preferred ICO Name</th>
				<th>Date Submitted</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody *ngIf="table_loader">
			<tr>
				<td colspan="8">
					<div class="row" >
						<div class="col-lg-12 col-xs-12">
							<div class="load-table py-4 d-flex flex-column justify-content-center align-items-center">
								<div class="circle"></div>
								<small class="text">LOADING TABLE...</small>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
		<tbody *ngIf="!table_loader">
			<tr *ngIf="business_application_list == ''">
				<td colspan="8">
					<div class="text-center">
						<small class="font-weight-light">No data found.</small>
					</div>
				</td>
			</tr>
			<tr *ngFor="let data of business_application_list | paginate: { itemsPerPage:15, currentPage: page }">
				<td>{{data.business_director_name}}</td>
				<td>{{data.preferred_ico_name}}</td>
				<td>{{data.business_date_submitted}}</td>
				<td class="text-center">
					<!-- <div ngbDropdown placement="bottom-right">
						<button class="btn button-lokal-x btn-block btn-sm" id="dropdownBasic1" ngbDropdownToggle>
							<small>
								<i class="fas fa-cog mr-2"></i>ACTIONS
							</small>
						</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item" (click)="viewBusinessApplicationDetails(data.business_application_id, view_business_application_details)">View Details</button>
						</div>
					</div> -->
					<div class="btn-group" dropdown placement="bottom right">
					  <button id="button-alignment" dropdownToggle type="button"
					          class="btn button-lokal-x btn-block btn-sm dropdown-toggle" aria-controls="dropdown-alignment">
					    <small>
				      		<i class="fas fa-cog mr-2"></i>ACTIONS <span class="caret"></span>
				      	</small> 
					  </button>
					  <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
					      role="menu" aria-labelledby="button-alignment">
					    <li role="menuitem">
					    	<a href="javascript:void" class="dropdown-item" (click)="viewBusinessApplicationDetails(data.business_application_id, view_business_application_details)">View Details</a>
					    </li>
					  </ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #view_business_application_details let-c="close" let-d="dismiss">
	<div class="view_account_details">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-briefcase mr-2"></i>Business Application Details</h5>
			<button type="button" class="close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body text-left  color-lokal-x">
			<div class=" p-3 row ">
				<div class=" col-lg-6 col-xs-12">
					
					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_director_name }}</h4>
					<small class="font-weight-bold mb-5">Name</small>

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.position }}</h4>
					<small class="font-weight-bold mb-5">Position</small>  

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_country }}</h4>
					<small class="font-weight-bold mb-5">Business Country</small>

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_number_of_employees != null ? data_focus.business_number_of_employees : '0' }}</h4>
					<small class="font-weight-bold mb-5">Number of Employee</small>  
					

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_company_legal_name != null? data_focus.business_company_legal_name : 'N/A' }}</h4>
					<small class="font-weight-bold mb-5">Company Name</small><br>  

					<a class="mb-0 font-weight-light mt-2" *ngIf="data_focus.business_supporting_documents != null" href="https://aeolus-storage.sgp1.digitaloceanspaces.com/{{ data_focus.business_supporting_documents }}" target="_blank"><i class="mr-2 fa fa-link" *ngIf="data_focus.business_supporting_documents != null" aria-hidden="true"></i>Click here for supporting document<br></a>
					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_supporting_documents == null ? 'N/A' : '' }}</h4>
					<small class="font-weight-bold mb-5">Document Link</small>  

				</div>
				<div class=" col-lg-6 col-xs-12">
					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_pref_token_name }}</h4>
					<small class="font-weight-bold mb-5">Prefer Token Name</small>

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.preferred_ico_name }}</h4>
					<small class="font-weight-bold mb-5">Preferred ICO Name</small>  

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_contact_number }}</h4>
					<small class="font-weight-bold mb-5">Contact Number</small>

					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_contact_email }}</h4>
					<small class="font-weight-bold mb-5">Contact Email</small>


					<h4 class="mb-0 font-weight-light mt-2">{{ data_focus.business_date_submitted }}</h4>
					<small class="font-weight-bold mb-5">Date Submitted</small>
				</div>
			</div>
		</div>
	</div>
</ng-template>