<div class="main-loader loader-base flex-column d-flex justify-content-center align-items-center" *ngIf="initializing">
    <!-- <div class="lds-circle coin-loader">
    </div>
    <img src="/assets/ahm_assets/img/logo.png" alt=""> -->
    <div class="ld-container">
        <div class="loader-brand">
            <img src="assets/ahm_assets/img/token.png">
        </div>
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
</div>
<router-outlet></router-outlet>