<section class="page-section login-page">

	<div class="container">
		<div class="login-form-holder d-flex flex-column align-items-center justify-content-center">
			<div class="logo-holder">
				<img src="/assets/spay_assets/img/login_logo.png">
			</div>
			<div class="w-35 py-3">
				<div class="row mb-2" *ngIf="error_message != 'no-message'">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center error-message">
							<span>{{ error_message }}</span>
						</div>
					</div>
				</div>
				<div class="row mb-2" *ngIf="success_message != 'no-message'">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center alert alert-success">
							<span>{{ success_message }}</span>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="submitted">
					<div class="col-xs-12 col-lg-12">
						<div class="d-flex justify-content-center align-items-center p-2 text-center validating">
							<div class="circle mr-2"></div><span>Validating</span>
						</div>
					</div>
				</div>
					<input class="w-100 my-2 p-2" [(ngModel)]="email" type="text" placeholder="E-Mail">
					<button class="spay-login-button w-100 mt-3" (click)="onSubmit()">Send Request</button>
				<div class="content-text text-center pt-2">Don't have an account? <a class="text-link-1" [routerLink]="['/register']">Register Here.</a></div>
			</div>
		</div>
	</div>

</section>