
<header>

	<nav class="navbar bg-transparent fixed-top navbar-expand-lg navbar-dark bg-light">
		<div class="container">
			<a class="navbar-brand logo-holder" href="/">
				<img src="../../../assets/ahm_assets/img/ahm_logo.svg" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link nav-link-text navigation__link" href="#splash">
						 <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-text navigation__link" href="#ahm_token">about</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-text navigation__link" href="#ahm_e_games">ahmGames</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-text navigation__link" href="#coin_market">coinCap</a>
					</li>
					<li class="nav-item">
						<a class="nav-link nav-link-text navigation__link" href="#ico_news">icoNews</a>
					</li>
					<li class="nav-item mob-show">
						<a class="nav-link" href="/login" *ngIf="!globalConfigService.isLoggedIn()">Login</a>
						<a class="nav-link" href="/member" *ngIf="globalConfigService.isLoggedIn()">{{ rest.first_name }} {{ rest.last_name }}</a>
					</li>
					<li class="nav-item mob-show">
						<a class="nav-link" href="/register" *ngIf="!globalConfigService.isLoggedIn()">Register</a>
						<a class="nav-link" (click)="actionLogout()" href="javascript:void(0)" *ngIf="globalConfigService.isLoggedIn()">Logout</a>
					</li>
				</ul>
				<span class="navbar-text mob-hide" *ngIf="!globalConfigService.isLoggedIn()">
					<a class="reg" href="/register">Create an Account</a>
				</span>
				<span class="navbar-text mob-hide" *ngIf="!globalConfigService.isLoggedIn()">
					<a class="log font-weight-bold" href="/login">Sign In</a>
				</span>
				<span class="navbar-text mob-hide" *ngIf="globalConfigService.isLoggedIn()">
					<a class="log" href="/member">
						{{ rest.first_name }} {{ rest.last_name }}
					</a>
				</span>
				<span class="navbar-text mob-hide" *ngIf="globalConfigService.isLoggedIn()">
					<a class="reg" href="javascript:void(0)" (click)="actionLogout()">Logout</a>
				</span>
				<div class="nav-btn-container">
					<a class="btn-primary btn-rounded btn-md btn-desktop" href="javascript:void(0)" role="button" [routerLink]="['/register']" *ngIf="!globalConfigService.isLoggedIn()">
						Get Token Now!
					</a>
					<a class="btn-primary btn-rounded btn-md btn-desktop" href="javascript:void(0)" role="button" [routerLink]="['/member']" *ngIf="globalConfigService.isLoggedIn()">
						Get Token Now!
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>

<router-outlet></router-outlet>

<footer>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-6">
				<div class="navigation-footer">
					<span>
						<a href="#">HOME</a>
					</span>
					<span>
						<a href="#">ABOUT</a>
					</span>
					<span>
						<a href="#">AHM-GAMES</a>
					</span>
					<span>
						<a href="#">COIN MARKET CAP</a>
					</span>
					<span>
						<a href="#">ICO NEWS</a>
					</span>
				</div>
				<div class="cntct-info">
					<div class="top-container">
						<span><i class="fas fa-envelope icon"></i>your.company@email.com</span>
						<span><i class="fas fa-phone icon"></i>521 - 000 - 0000</span>
					</div>
					<div class="bottom-container">
						<span><i class="fas fa-map-marker-alt icon"></i>512 Lorem ipsum, dolor sit amet Lorem Ipsum City, California</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="right-container">
					<div class="logo-holder">
						<img src="../../../assets/ahm_assets/img/ahm_logo.svg" alt="">
					</div>
					<div class="desc">© 2018 ahmtoken All Rights Reserved. </div>	
					<div class="desc">Powered By: Digima Web Solutions</div>
				</div>
			</div>
		</div>
	</div>
</footer>
