
<header>
	<nav class="navbar bg-transparent fixed-top navbar-expand-lg navbar-dark bg-light">
		<a class="navbar-brand" href="/">
			<img src="../../../assets/spay_assets/img/logo.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link nav-link-text navigation__link" href="#splash">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-text navigation__link" href="#benefits">Why Choose Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-text navigation__link" href="#about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-text navigation__link" href="#how_it_works">How It Works</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">Register</a>
				</li>
			</ul>
			<span class="navbar-text mob-hide">
				<a class="log" href="/login">Login</a>
			</span>
			<span class="navbar-text mob-hide">
				<a class="reg" href="/register">Register</a>
			</span>
			<div class="nav-btn-container">
				<a class="btn-primary btn-rounded btn-md btn-desktop" href="" role="button">
					Get Your Coin
				</a>
				<!-- <button class="btn-primary btn-rounded btn-md btn-desktop">
					Get Your Coin
				</button> -->
			</div>
		</div>
	</nav>
</header>

<router-outlet></router-outlet>

<footer>
	<div class="container">
		<div class="top-inner">
			<div class="f-title">Get Whitelisted Now!</div>
			<div class="row clearfix">
				<div class="col-md-4">
					<div class="inner-left">
						<div class="inner-left-child">
							<img src="../../../assets/spay_assets/img/footer_email.png" alt="">
							<span>info@successpay.io</span>
						</div>
						<div class="inner-left-child">
							<a href="#"><img src="../../../assets/spay_assets/img/footer_telegram.png" alt=""></a>
							<span>Join our Telegram Community </span>
						</div>
						<div class="inner-left-child">
							<a href="#"><img src="../../../assets/spay_assets/img/footer_fb.png" alt=""></a>
							<span>Like us on facebook</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftr-brand">
					<div class="flex-container">
						<div class="flex-child">
							<img src="../../../assets/spay_assets/img/logo.png" alt="">
							<div class="footer-tag t-center">Giving Cryptocurrencies Life</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="inner-right">
						<div class="inner-right-child">
							<a href="#">Privacy Policy</a>
						</div>
						<div class="inner-right-child">
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-inner">
			<span>Copyright © 2018 All Rights Reserved.</span>
			<span class="float-right">Powered By: Digima Web Solutions</span>
			<div class="bottom-ftr-mob d-none">Copyright © 2018 All Rights Reserved.</div>
			<div class="bottom-ftr-mob d-none">Powered By: Digima Web Solutions</div>
		</div>
	</div>
</footer>
