@import '../../../assets/assets-laravel/admin-dashboard/css/styles.css';
@import '../../../assets/scss/app';

.dropdown-lokal
{
	li
	{
		a
		{
			&::before
			{
				content: "\00bb ";
			}
		}
		
	}
	
}

.sub-menu
{
	padding-left: 31px;
}

@keyframes spin-loader
{
	from { }
}

.coin-loader 
{
	background-image: url('../../../assets/ahm_assets/img/spay-coin.png');
	background-repeat: no-repeat;
	background-size: contain;
}
