@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* VARIABLES */

$ff: 'Montserrat', sans-serif;
$os: 'Open Sans', sans-serif;
$thin: 100;
$light: 300;
$reg: 400;
$med: 500;
$sem: 600;
$bold: 700;

$primary-c: #0a0027;
$secondary-c: #0e0137;

$color1: #2fb5f8;
$color2: #785bfa;

