<section class="launch-package">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-white py2">ICO Launch Package</h3>
				<div class="d-flex align-items-center">
					<div>
						<h4 class="text-white py-2 text-muted">How it works?</h4>
					</div>
					<!-- <a role="button" [routerLink]="['/business-registration']" class="cbtn-sm btn-lokal f-14 ml-auto">APPLY NOW</a> -->
				</div>
				<h4 class="text-white">B. FOR INVESTORS:</h4>
				<h6 class="content-text py-3">1. ICO Launch Package</h6>
				<ul>
					<li>1.1 ICO Consultations</li>
					<li>1.2 Animation and Video Creation</li>
					<li>1.3 ICO Website Development; Payment Processing,  KYC/AML/CTF
						Documentation Processing, Access to ICO Community, ICO
						Review/Ratings/Rankings.
					</li>
				</ul>
			</div>
			<div class="content-text text-center pt-4"><a href="/" class="text-link-2">« Back to Homepage</a></div>
		</div>
	</div>
</section>