<div class="main-loader d-flex justify-content-center align-items-center" *ngIf="country_loading == true">
	<img src="/assets/img/lokalize-loader.gif" alt="">
</div>
<section class="page-section register-page">
	<div class="container">
		<div class="register-form-holder d-flex flex-column align-items-center justify-content-center">
			<!-- <div class="logo-holder">
				<img src="/assets/spay_assets/img/login_logo.png" width="150">
			</div> -->
			<h2 class="mob-label">Create an Account</h2>
			<div class="py-3">
				<div class="lokal-forms">
					<div class="row">
						<div class="col-md-12 col-xs-12 row mb-2 lokal-alerts" *ngIf="error_message != 'no-message'">
							<div class="col-xs-12 col-lg-12 p-0">
								<div class="d-flex justify-content-center px-2 py-3 align-items-center text-center error-message">
									<span class="lokal-text">{{ error_message }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-xs-12 row lokal-alerts" *ngIf="submitted">
							<div class="col-xs-12 col-lg-12 p-0">
								<div class="d-flex justify-content-center px-2 py-0 align-items-center text-center validating lokal-text">
									<div class="circle mr-2 lokal-text"></div><span>Validating</span>
								</div>
							</div>
						</div>

						<!-- Personal Information -->
						<div class="col-md-12 col-xs-12">
							<h6 class="text-left text-muted mb-0">Personal Information</h6>
							<hr class="my-1 border border-secondary">
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">First Name</small>
							<input class="" type="text" name="first_name" id="first_name" [(ngModel)]="system_register.first_name" placeholder="First Name">
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Last Name</small>
							<input class="" type="text" name="last_name" id="last_name" [(ngModel)]="system_register.last_name" placeholder="Last Name">
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Nationality</small>
							<input class="" type="text" name="nationality" id="nationality" [(ngModel)]="system_register.nationality" placeholder="Nationality">
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Gender</small>
							<select name="gender" id="" [(ngModel)]="system_register.gender" >
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Date of Birth</small>
							<input class="" type="date" name="birth_date" id="birth_date" [(ngModel)]="system_register.birth_date" placeholder="Date of Birth">
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Email Address</small>
							<input class="" type="email" name="email_address" id="email_address" [(ngModel)]="system_register.email" placeholder="Email Address">
						</div>	
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Country</small>
							<select name="country" id="" [(ngModel)]="system_register.country_code_id" >
								<option *ngFor="let code of country_codes" value="{{code.country_code_id}}">{{code.country}}</option>
							</select>
						</div>
						<div class="col-md-6 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Contact Number</small>
							<input class="" type="phone" name="phone_number" id="phone_number" [(ngModel)]="system_register.phone_number" placeholder="Contact Number">
						</div>
						
						
						<!-- Proof of Identity -->
						<div class="col-md-12 col-xs-12 mt-3">
							<h6 class="text-left text-muted mb-0">Proof of Identity</h6>
							<hr class="my-1 border border-secondary">
						</div>
						<div class="col-md-12 col-xs-12">
							<small class="font-weight-bold d-block text-muted">Primary ID</small>
							<small class="text-muted">
								Passport or Government-Issued Photo ID or Driver's License. Please HIDE your unique identification numbers using "POST-it" notes or using your fingers. Photoshopped or Paint editing is also permiited (Updated).
							</small>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<small class="font-weight-bold d-block text-muted mt-2">Choose Primary ID Type:</small>
									<select name="country" id="">
										<option value="Passport">Passport</option>
										<option value="Driver’s License">Driver’s License</option>
										<option value="SSS UMID Card">SSS UMID Card</option>
										<option value="GSIS eCard">GSIS eCard</option>
										<option value="Digitized Postal ID">Digitized Postal ID</option>
										<option value="PRC ID">PRC ID</option>
										<option value="Voter’s ID">Voter’s ID</option>
										<option value="OFW ID">OFW ID</option>
										<option value="Senior Citizen ID">Senior Citizen ID</option>
										<option value="Diplomat ID (Philippine Embassy)">Diplomat ID (Philippine Embassy)</option>
										<option value="IBP ID (Integrated Bar of the Philippines)">IBP ID (Integrated Bar of the Philippines)</option>
										<option value="OWWA ID (Overseas Worker’s Welfare Administration)">OWWA ID (Overseas Worker’s Welfare Administration)</option>
										<option value="GOCC and Government ID">GOCC and Government ID</option>
									</select>
									<input type="file" id="primary_id" class="my-1" style="display: none;">
									<button class="mt-1 spay-login-button {{ uploading ? 'disabled-btn' : '' }} btn-sm btn-upload" (click)="uploadPrimary()" disabled="{{ uploading ? 'disabled' : '' }}">Upload Primary ID</button>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-xs-12 mt-2">
							<small class="font-weight-bold d-block text-muted">Secondary ID <em class="font-weight-light">(If Primary ID is not available)</em></small>
							<small class="text-muted">
								These are the supporting documents that you can use to prove your identity in the absence of primary IDs. Kindly submit at least 2 of this Secondary ID.
							</small>
							<div class="row">
								<div class="col-md-6 col-xs-12">
									<small class="font-weight-bold d-block text-muted mt-2">Choose Secondary ID Type (1):</small>
									<select name="country" id="">
										<option value="NBI Clearance">NBI Clearance</option>
										<option value="Police Clearance">Police Clearance</option>
										<option value="Barangay Clearance">Barangay Clearance</option>
										<option value="Cedula or Community Tax Certificate">Cedula or Community Tax Certificate</option>
										<option value="Voter’s Certification">Voter’s Certification</option>
										<option value="Government Service Record">Government Service Record</option>
										<option value="School ID (For Recent students)">School ID (For Recent students)</option>
										<option value="Seaman’s Book">Seaman’s Book</option>
										<option value="Philhealth Card">Philhealth Card</option>
										<option value="PWD ID">PWD ID</option>
										<option value="TIN Card">TIN Card</option>
										<option value="Firearm’s License Card">Firearm’s License Card</option>
										<option value="PLRA ID">PLRA ID</option>
										<option value="Company ID">Company ID</option>
										<option value="Alumni ID">Alumni ID</option>
									</select>
									<input type="file" id="secondary_id1" class="my-1" style="display: none;">
									<button class="mt-1 spay-login-button {{ uploading ? 'disabled-btn' : '' }} btn-sm btn-upload" (click)="uploadPrimary()" disabled="{{ uploading ? 'disabled' : '' }}">Upload Secondary ID (1)</button>
								</div>
								<div class="col-md-6 col-xs-12">
									<small class="font-weight-bold d-block text-muted mt-2">Choose Secondary ID Type (2):</small>
									<select name="country" id="">
										<option value="NBI Clearance">NBI Clearance</option>
										<option value="Police Clearance">Police Clearance</option>
										<option value="Barangay Clearance">Barangay Clearance</option>
										<option value="Cedula or Community Tax Certificate">Cedula or Community Tax Certificate</option>
										<option value="Voter’s Certification">Voter’s Certification</option>
										<option value="Government Service Record">Government Service Record</option>
										<option value="School ID (For Recent students)">School ID (For Recent students)</option>
										<option value="Seaman’s Book">Seaman’s Book</option>
										<option value="Philhealth Card">Philhealth Card</option>
										<option value="PWD ID">PWD ID</option>
										<option value="TIN Card">TIN Card</option>
										<option value="Firearm’s License Card">Firearm’s License Card</option>
										<option value="PLRA ID">PLRA ID</option>
										<option value="Company ID">Company ID</option>
										<option value="Alumni ID">Alumni ID</option>
									</select>
									<input type="file" id="secondary_id2" class="my-1" style="display: none;">
									<button class="mt-1 spay-login-button {{ uploading ? 'disabled-btn' : '' }} btn-sm btn-upload" (click)="uploadPrimary()" disabled="{{ uploading ? 'disabled' : '' }}">Upload Secondary ID (2)</button>
								</div>
							</div>
							
							
						</div>
						
						<div class="col-md-6 col-xs-12 mt-3">
							<button class=" spay-login-button {{ registering ? 'disabled-btn' : '' }}" (click)="newRegister()" disabled="{{ registering ? 'disabled' : '' }}">Sign Up</button>
						</div>
						<div class="col-md-6 col-xs-12 mt-3">
							<button class="spay-register-button {{ registering ? 'disabled-btn' : '' }}" [routerLink]="['/login']" disabled="{{ registering ? 'disabled' : '' }}">Login</button>
						</div>
						
					</div>
					<div class="recaptcha">
						<re-captcha (resolved)="resolved($event)" siteKey="6Leas2sUAAAAAOCewGhpmMFP1yRb7vJ_bSNlh0oN"></re-captcha>
					</div>
					
				</div>

				<div class="content-text text-center pt-4"><a [routerLink]="['']" class="text-link-2">« Back to Homepage</a></div>
			</div>
		</div>
	</div>
</section>