/* LOGIN */

.page-section {
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}

.responsive-width {
    max-width: 35%;
    min-width: 35%;

    @media screen and (max-width: 800px){
        max-width: 50%;
        min-width: 50%;
    }

    @media screen and (max-width: 500px){
        max-width: 100%;
        min-width: 100%;
    }
}

.login-page {
    @include gradient($primary-c, $secondary-c);

    background-image: url("/assets/img/loginregister-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    align-items: center;
}

//LOGIN