<h4 class="font-weight-light page-title-admin">
    <i class="fas fa-university mr-2"></i>Bank Transactions
    <em><small></small></em>
  </h4>
  <div class="row mb-3">
    <div class="col-lg-3 col-xs-12">
      <div class="alert alert-light p-2 my-border-light">
        <div class="d-flex flex-row justify-content-center align-items-center h6 mb-0 text-center color-lokal-x ">
          <small class="mx-2">
            <h4 class="text-center mb-0">{{ pending_transactions }}</h4>
            Pending Transactions
          </small>
          <i class="fas fa-university mx-2 h1 mb-0"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-12">
        <button class="btn button-lokal-x btn-block my-1" (click)="getAllProcessings(open_process_all)">
          <small>
            <i class="fas fa-check mr-2"></i>Process All
          </small>
        </button>
    </div>
  
    <div class="col-lg-3 col-xs-12">
      <button class="btn button-lokal-x btn-block my-1" (click)="openBankConfig(bank_config)">
        <small>
          <i class="fas fa-cog mr-2"></i>Configure Bank Methods
        </small>
      </button>
    </div>
  
    <div class="col-lg-2 col-xs-12 px-1">
      <button class="btn button-lokal-x btn-block my-1" (click)="loadTable()">
        <small>
          <i class="fas fa-sync mr-2"></i>REFRESH TABLE
        </small>
      </button>
    </div>
    <div class="col-lg-2 col-xs-12 px-1">
      <div class="btn-group" dropdown placement="bottom right">
        <button id="button-basic" dropdownToggle type="button" class="btn button-lokal-x btn-block my-1 dropdown-toggle"
                aria-controls="dropdown-basic">
          <small>
            <i class="fas fa-table mr-2"></i>EXPORT DATA <span class="caret"></span>
        </small> 
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu  dropdown-menu-right"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a href="{{ rest.api_url }}/api/admin/excel/export_transaction_list?login_token={{rest.login_token}}&log_method=Bank&log_method_accepted=Bank Total" class="dropdown-item">Export All Data</a>
          </li>
          <li role="menuitem">
            <a href="{{ rest.api_url }}/api/admin/excel/export_transaction_list?login_token={{rest.login_token}}&account_name={{account_name}}&transaction_status={{transaction_status}}&transaction_date_from={{transaction_date_from}}&transaction_date_to={{transaction_date_to}}&log_method=Bank&log_method_accepted=Bank Total&data=filtered" class="dropdown-item">Export Filtered Data</a>   
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-3 col-xs-12 px-2">
      <small class="d-block font-weight-bold">
        Search by Account Name
      </small>
      <input type="text" name="account_name" (keyup)="loadTable()" [(ngModel)]="account_name" class="form-control form-control-sm input-lokal-x mb-1" placeholder="Account Name">
    </div>
    <div class="col-lg-3 col-xs-12 px-2">
      <small class="d-block font-weight-bold">
        Transaction Status
      </small>
      <select name="transaction_status" (change)="loadTable()" [(ngModel)]="transaction_status" id="" class="form-control form-control-sm input-lokal-x mb-1">
        <option value="all">All</option>
        <option value="pending">Pending</option>
        <option value="accepted">Accepted</option>
        <option value="processing">Processing</option>
        <option value="canceled">Canceled</option>
        <option value="rejected">Rejected</option>
      </select>
    </div>
    <div class="col-lg-2 col-xs-12 px-2">
      <small class="d-block font-weight-bold">
        Bank Name
      </small>
      <select name="bank_name" (change)="loadTable()" [(ngModel)]="bank_name" id="" class="form-control form-control-sm input-lokal-x mb-1">
        <option value="all">All</option>
        <option *ngFor="let method of bank_methods" value="{{ method.cash_in_method_id }}">{{ method.cash_in_method_name }}</option>
      </select>
    </div>
    <div class="col-lg-2 col-xs-12 px-2">
      <small class="d-block font-weight-bold">
        Transaction Date - <em class="font-weight-light">From</em>
      </small>
      <input type="date" name="transaction_date_from" (change)="loadTable()" [(ngModel)]="transaction_date_from" class="form-control form-control-sm input-lokal-x mb-1">
    </div>
    <div class="col-lg-2 col-xs-12 px-2">
      <small class="d-block font-weight-bold">
        Transaction Date - <em class="font-weight-light">To</em>
      </small>
      <input type="date" name="transaction_date_to" (change)="loadTable()" [(ngModel)]="transaction_date_to" class="form-control form-control-sm input-lokal-x mb-1">
    </div>
    
  </div>
  <div class="table-responsive px-0"  style="min-height: 300px;">
    <table class="table member-table-x admin-db table-hover px-2">
      <caption class="bg-light m-0 p-0 py-2 px-1" *ngIf="!table_loader">
        <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
      </caption>
      <thead>
        <tr>
          <th>ID#</th>
          <th>T#</th>
          <th>Bank Name</th>
          <th>Requested By</th>
          <th>Exchange Rate</th>
          <th>Requested</th>
          <th>Received</th>
          <th>Status</th>
          <th>Date</th>
          <th>Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="table_loader">
        <tr>
          <td colspan="8">
            <div class="row" >
              <div class="col-lg-12 col-xs-12">
                <div class="load-table py-4 d-flex flex-column justify-content-center align-items-center">
                  <div class="circle"></div>
                  <small class="text">LOADING TABLE...</small>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
  
      <tbody *ngIf="!table_loader">
        <tr *ngIf="_table == ''">
          <td colspan="8">
            <div class="text-center">
              <small class="font-weight-light">No data found.</small>
            </div>
          </td>
        </tr>
        <tr *ngFor="let data of _table | paginate: { itemsPerPage:15, currentPage: page }">
          <td>{{ data.automatic_cash_in_id }}</td>
          <td>{{ data.member_log_id }}</td>
          <td>{{ data.cash_in_method_name }}</td>
          <td>{{ data.first_name }} {{ data.last_name }}</td>
          <td>{{ data.exchange_rate | number:'1.2-8' }}</td>
          <td>
            {{ data.amount_requested }} AHM
            <small class="d-block">({{ (data.amount_requested*data.exchange_rate) - (data.amount_requested * (data.exchange_rate*(data.sale_stage_discount/100))) | number:'1.2-8'  }} PHP)</small>
          </td>
          <td *ngIf="data.log_status != 'accepted'">No data</td>
          <td *ngIf="data.log_status == 'accepted'">
            {{ data.log_amount | number:'1.2-8' }} AHM
            <small class="d-block">({{ data.amount_paid | number:'1.2-8'  }} PHP)</small>
          </td>
          <td>
            <span class="badge badge-secondary px-2" *ngIf="data.log_status == 'pending'">
              Pending
            </span>
            <span class="badge badge-success px-2" *ngIf="data.log_status == 'accepted'">
              Accepted
            </span>
            <span class="badge badge-danger px-2" *ngIf="data.log_status == 'canceled'">
              Canceled
            </span>
            <span class="badge badge-danger px-2" *ngIf="data.log_status == 'rejected'">
              Rejected
            </span>
            <span class="badge badge-info px-2" *ngIf="data.log_status == 'processing'">
              Processing
            </span>
          </td>
          <td>
            <!-- {{ data.log_time | date:'MM/dd/yyyy'}} -->
            {{ rest.formatDate(data.log_time) }}
          </td>
          <td>
            <!-- {{ data.log_time | date:'hh:mm:ss a '}} -->
            {{ rest.formatTime(data.log_time) }}
          </td>
          <td class="text-center">
            <div class="btn-group" dropdown placement="bottom right">
              <button id="button-alignment" dropdownToggle type="button"
                      class="btn button-lokal-x btn-block btn-sm dropdown-toggle" aria-controls="dropdown-alignment">
                <small>
                    <i class="fas fa-cog mr-2"></i>ACTIONS <span class="caret"></span>
                  </small> 
              </button>
              <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-alignment">
                <!-- <li role="menuitem">
                  <a href="javascript:void" class="dropdown-item" (click)="viewTransactionDetails(data.automatic_cash_in_id, view_transaction_details)">Transaction Details</a>
              </li> -->
              <li role="menuitem">
                <a href="javascript:void" class="dropdown-item" (click)="viewTransactionDetails(data.automatic_cash_in_id, view_transaction_details)">View Transaction Details</a>
              </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #view_transaction_details let-c="close" let-d="dismiss">
    <div class="view_account_details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transaction Details</h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left color-lokal-x">
        <div class=" p-3 row ">
          <div class=" col-lg-6 col-xs-12">
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.first_name }} {{ data_focus.last_name }}</h4>
            <small class="font-weight-bold mb-5">Requested By</small>  
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.amount_requested }} AHM</h4>
            <small class="font-weight-bold mb-5">Requested Token</small>  
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.log_status == 'accepted' ? data_focus.log_amount + " AHM" : 'No data' }}</h4>
            <small class="font-weight-bold mb-5">Received Token</small>  
            <h4 class="mb-0 font-weight-light mt-2">{{ (data_focus.amount_requested*data_focus.exchange_rate) - (data_focus.amount_requested * (data_focus.exchange_rate*(data_focus.sale_stage_discount/100))) | number:'1.2-8'  }} PHP</h4>
            <small class="font-weight-bold mb-5">Expected Payment</small>
            <span *ngIf="data_focus.log_status == 'accepted'" class="mt-2 d-block">
              <h4 class="mb-0 font-weight-light">{{ data_focus.log_status == 'accepted' ? data_focus.amount_paid + " PHP" : 'No data' }}</h4>
              <small class="font-weight-bold mb-5">Amount Paid</small>
            </span>
            <span *ngIf="data_focus.log_status == 'pending'" class="mb-0 mt-2 d-block">
                <input type="text" class="form-control" placeholder="Received Amount" [(ngModel)]="data_focus.php_amount">
                <small class="font-weight-light d-block">Change if expected payment is different from received payment.</small>
                <small class="font-weight-bold mb-5">Amount Paid</small>
            </span>   
          </div>
          <div class="col-lg-6 col-xs-12">
              <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.exchange_rate | number:'1.2-8' }} (per token)</h4>
              <small class="font-weight-bold mb-5">Exchange Rate</small>
              <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.cash_in_method_name }}</h4>
              <small class="font-weight-bold mb-5">Bank Name</small>
              <h4 class="mb-0 font-weight-light mt-2"><a href="{{ data_focus.cash_in_proof_img }}" target="_blank" class="nav-link m-0 p-0"><i class="fas fa-link mr-2"></i>View Image</a></h4>
              <small class="font-weight-bold mb-5">Deposit Slip</small>
              <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.cash_in_proof_tx ? data_focus.cash_in_proof_tx : 'No data.' }}</h4>
              <small class="font-weight-bold mb-5">Transaction Number</small>    
              <h4 class="mb-0 font-weight-light mt-2">
              <span class="badge badge-secondary px-2" *ngIf="data_focus.log_status == 'pending'">
                Pending
              </span>
              <span class="badge badge-success px-2" *ngIf="data_focus.log_status == 'accepted'">
                Accepted
              </span>
              <span class="badge badge-danger px-2" *ngIf="data_focus.log_status == 'canceled'">
                Canceled
              </span>
              <span class="badge badge-danger px-2" *ngIf="data_focus.log_status == 'rejected'">
                Rejected
              </span>
              <span class="badge badge-info px-2" *ngIf="data_focus.log_status == 'processing'">
                Processing
              </span>
              </h4>
            <small class="font-weight-bold mb-5">Transaction Status</small>  
            <h4 class="mb-0 font-weight-light mt-2">
              <!-- {{ data_focus.log_time | date:'MM/dd/yyyy hh:mm:ss a' }} -->
              {{ rest.formatDate(data_focus.log_time) }} {{ rest.formatTime(data_focus.log_time) }}
            </h4>
            <small class="font-weight-bold mb-5">Date Requested</small>
            <!-- <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.created_at }}</h4>
            <small class="font-weight-bold mb-5">Date Registered</small>   
            <h4 class="mb-0 font-weight-light mt-2">{{ data_focus.create_ip_address }}</h4>
            <small class="font-weight-bold mb-5">Create IP Address</small> -->
          </div>
          <div class="col-lg-6 col-xs-12" *ngIf="data_focus.log_status == 'processing' || data_focus.log_status == 'pending'">
            <div class="row">
              <div class="col-lg-6 col-xs-12 p-2">
                <button class="btn button-lokal-x btn-block" (click)="processTransaction('accepted')" disabled="{{processing ? 'disabled' : ''}}"><i class="fas fa-check mr-2"></i>Approve</button>
              </div>
              <div class="col-lg-6 col-xs-12 p-2">
                <button class="btn button-lokal-x btn-block" (click)="processTransaction('rejected')" disabled="{{processing ? 'disabled' : ''}}"><i class="fas fa-times mr-2"></i>Reject</button>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </ng-template>

  <ng-template #bank_config let-c="close" let-d="dismiss">
    <div class="view_account_details">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bank Method Configuration</h5>
        <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left color-lokal-x">
        <div class="row mb-2">
          <div class="offset-lg-9 col-lg-3 col-xs-12">
            <button class="btn button-lokal-x btn-block btn-sm" (click)="bankEvent('add')">
              <i class="fas fa-plus mr-2"></i> Add Method
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Bank Name</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Account Type</th>
              </tr>
            </thead>
            <tbody *ngIf="fetching_methods">
              <tr>
                <td colspan="4">
                    <div class="row" >
                      <div class="col-lg-12 col-xs-12">
                        <div class="load-table py-4 d-flex flex-column justify-content-center align-items-center">
                          <div class="circle"></div>
                          <small class="text">LOADING TABLE...</small>
                        </div>
                      </div>
                    </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!fetching_methods">
              <tr *ngIf="bank_methods.length == 0">
                <td colspan="4" class="p-2 text-center">
                  <small>No methods found. Add your first method by clicking the 'Add Method' button above.</small>
                </td>
              </tr>
              <tr *ngFor="let method of bank_methods" (click)="bankEvent('edit',method.cash_in_method_id)" class="method-item {{ method.cash_in_method_payment_rule == 1 ? 'bg-archived' : '' }}">
                <td>{{ method.cash_in_method_name }}</td>
                <td>{{ method.cash_in_account_name }}</td>
                <td>{{ method.cash_in_account_number }}</td>
                <td>{{ method.cash_in_method_header }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive" *ngIf="bankevent == 'edit'">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Bank Name</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Account Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="bank_focus.cash_in_method_name">
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="bank_focus.cash_in_account_name">
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="bank_focus.cash_in_account_number">
                </td>
                <td>
                  <select class="form-control" [(ngModel)]="bank_focus.cash_in_method_header">
                    <option value="SAVINGS">SAVINGS</option>
                    <option value="CHECKING">CHECKING</option>
                  </select>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <button class="btn button-lokal-x btn-block btn-sm" (click)="updateMethod(bank_focus.cash_in_method_id)" disabled="{{ updating ? 'disabled' : '' }}">
                    <i class="fas fa-save mr-2"></i>Update Method
                  </button>
                </td>
                <td colspan="2">
                    <button class="btn button-lokal-x btn-block btn-sm" (click)="archiveMethod(bank_focus.cash_in_method_id, bank_focus.cash_in_method_payment_rule)" disabled="{{ updating ? 'disabled' : '' }}">
                      <i class="fas fa-archive mr-2"></i> {{ bank_focus.cash_in_method_payment_rule == 0 ? 'Archive Method' : 'Unarchive Method' }}
                    </button>
                  </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="table-responsive" *ngIf="bankevent == 'add'">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Bank Name</th>
                  <th>Account Name</th>
                  <th>Account Number</th>
                  <th>Account Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="bank_new.cash_in_method_name">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="bank_new.cash_in_account_name">
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="bank_new.cash_in_account_number">
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="bank_new.cash_in_method_header">
                      <option value="SAVINGS">SAVINGS</option>
                      <option value="CHECKING">CHECKING</option>
                    </select>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <button class="btn button-lokal-x btn-block btn-sm" (click)="addMethod()" disabled="{{ adding ? 'disabled' : '' }}"> 
                      <i class="fas fa-save mr-2"></i>Add Method
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
      </div>
    </div>
  </ng-template>

  <ng-template #open_process_all let-c="close" let-d="dismiss">
      <div class="view_account_details">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Process All Transactions</h5>
          <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left color-lokal-x">
          <div class="p-4" *ngIf="fetching_tx">
            <div class="load-table d-flex flex-column justify-content-center align-items-center">
              <div class="circle"></div>
              <small class="text">LOADING TABLE...</small>
            </div>
          </div>
          <div class="p-2" *ngIf="!fetching_tx">
            <div class="table-responsive">
              <table class="table table-bordered table-hover small-table">
                <caption class="bg-light m-0 p-2 text-center">
                  <small class="text-center p-3 font-weight-bold">
                    You are about to send {{ rest.sumArrayByKey(processing_tx, 'log_amount') }} AHM to {{ processing_tx.length }} members and receive {{ rest.sumArrayByKey(processing_tx, 'log_net_amount') }} PHP. Would you like to continue?
                    <small class="font-weight-light d-block">
                      Note: Total AHM to be sent and PHP to be received may be different after processing if the paid amount is not exactly the same as expected payment.
                    </small>
                    <hr class="my-1">
                    <button class="btn btn-success btn-sm mx-1 font-weight-normal" disabled="{{ processing ? 'disabled' : '' }}" (click)="processTransaction('accepted', 'multiple')">Yes</button>
                    <button class="btn btn-danger btn-sm mx-1 font-weight-normal" disabled="{{ processing ? 'disabled' : '' }}" (click)="d('Cross click')">No</button>
                  </small>
                </caption>
                <thead>
                  <tr>
                    <th>Requested By</th>
                    <th>Requested Token</th>
                    <th>Expected Payment</th>
                    <th>Date</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tx of processing_tx | paginate: { itemsPerPage:10, currentPage: p_page, id:'p_page' }">
                    <td>{{ tx.first_name }} {{ tx.last_name }}</td>
                    <td>{{ tx.log_amount }} AHM</td>
                    <td>{{ tx.log_net_amount }} PHP</td>
                    <td>{{ rest.formatDate(tx.log_time) }}</td>
                    <td>{{ rest.formatTime(tx.log_time) }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <pagination-controls class="my-pagination" (pageChange)="p_page = $event" id="p_page"></pagination-controls>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-template>