@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');

//Font Family
$heading-text: 'Rubik', sans-serif;
$body-text: 'Roboto', sans-serif;

//Font Weight
$reg: 400;

// Base Font Size
$bfs: 1rem;

// Colors
$base-color: #051a2d;
$secondary-color: #005d12;
$tertiary-color: #051a2d;
$dark-white: rgba(255,255,255,0.7);

//Devices Breakpoint
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;